@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


@font-face {
    font-family: "BeautyMountain";
    src: local("BeautyMountain"), url("./fonts/BeautyMountains.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Geraldine-Italic";
    src: local("Geraldine-Italic"), url("./fonts/Geraldine-Italic.ttf") format("truetype");
    font-weight: bold;
}
    
:root {
    --font-base: "open sans", "BeautyMountain";
    --font-alt: "Geraldine-Italic";
    --text-color-primary: #251D1D;
    --primary-red: #913651;
    --primary-gradient: linear-gradient(93.06deg, #CC186E -2.84%, #913651 105.38%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    font-weight: 600;
}